<!DOCTYPE html>
<html>
  <head>
    <title>Wake Up!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Wake Up!</h1>
    <p>Push this Button</p>
		<form method="post" action="/chng">
			<input type="submit" value="<%= title %>">
		</form>
  </body>
</html>
